---
import Base from "../layouts/base.astro";
import PageTitle from "../components/page_title.astro";
import BlogListItem from "../components/blog_list_item.astro";
import BlogList from "../components/blog_list.astro";
import TagList from "../components/tag_list.astro";
import { getCollection } from "astro:content";

const pageHeader = "ls /blog";
const pageTitle = "Blog";
const allBlogPosts = await getCollection("blog");
---

<Base title={pageTitle}>
  <PageTitle title={pageHeader} />
  <!-- List all blogs -->
  <ul class="flex flex-wrap mb-10 gap-x-2 gap-y-5 sm:-mt-10">
    <TagList classList="" />
  </ul>
  <div class="grow px-2">
    <BlogList>
      {
        allBlogPosts
          .reverse()
          .map((post) => (
            <BlogListItem
            url={post.id}
              title={post.data.title}
              date={post.data.publishDate.toUTCString().slice(4, 16)}
              tags={post.data.tags}
            />
          ))
      }
    </BlogList>
  </div>
</Base>
