---
import Base from "../layouts/base.astro";
import PageTitle from "../components/page_title.astro";
import ProjectCard from "../components/project_card.astro";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
const pageHeader = "ls /projects";
const pageTitle = "Projects";
---

<Base title={pageTitle}>
<PageTitle title={pageHeader} />
<p class="text-sm before:content-['['] after:content-[']'] text-teal-600 -mt-12 mb-10">
<a href="https://github.com/dasShounak?tab=repositories" target="_blank" rel="noopener noreferrer">View all GitHub repositories &rarr;</a>
</p>
<div id="projects-grid" class="columns-1 sm:columns-2 gap-4">
  {
  allProjects.map((project) => (
  <ProjectCard 
  title={project.data.title} 
  description={project.data.description} 
  date={project.data.date}
  url={project.data.url}
  toolsArray={project.data.tools} />
  ))
  }
</div>
</Base>
