---
import Tag from "./tag.astro";
import MobileHorizontalRule from "./mobile_horizontal_rule.astro";
import TextLink from "./text_link.astro";
const { title, url, date, tags } = Astro.props;
---

<li>
        <div class="sm:flex max-w-full items-center mb-8 sm:mb-0">
            <div id="post-title" class="font-display text-xl sm:text-lg sm:whitespace-nowrap overflow-hidden overflow-ellipsis">
                <a href={`/blog/${url}`}>{title}</a>
            </div>
            <div class="ml-auto flex items-center whitespace-nowrap">
                <div id="taglist" class="flex space-x-2 sm:pr-2 scale-90 order-last sm:order-first">
                    {
                        tags.map((tag) => ( <Tag url={tag}>{tag}</Tag> ))
                    }
                </div>
                <div id="post-publish-date" class="mr-auto mt-auto sm:mt-0 sm:ml-auto text-sm">{date}</div>
            </div>
            <div class="sm:hidden mt-2">
                <TextLink url=`/blog/${url}`>Read more</TextLink>
            </div>
        <MobileHorizontalRule />
        </div>
</li>
