---
import Base from "./base.astro"
const {frontmatter} = Astro.props;
---

<Base title={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <h2>{frontmatter.description}</h2>
    <h3>{frontmatter.publishDate.toString().slice(0,10)}</h3>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
    <slot />
</Base>